.container {
  margin-top: 3rem;
  text-align: center;
}

#output {
  text-align: left;
  background-color: #a0a0a0;
  padding: 1rem 2rem;
  margin: 2rem auto;
  max-width: 210px;
  border-radius: 5px;
}

#output.hidden {
  display: none;
}

#output.success {
  background-color: green;
  color: #f5f5f5;
}

#output.error {
  background-color: red;
  color: #f5f5f5;
}

#game-form button:disabled,
#game-form button:disabled:hover,
#game-form button:disabled:active {
  border-color: grey;
  background-color: grey;
}
