<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Editor</title>
    <link rel="stylesheet" href="jquery-ui/jquery-ui.min.css">
</head>

<body>
    <div id="menu" title="Menu">
        <button id="openfile">Datei öffnen</button>
        <button id="savefile">Datei speichern</button>
        <br>
        <button id="flip-horizontal">Horizontal spiegeln</button>
        <button id="flip-vertical">Vertical spiegeln</button>
        <br>
        <button id="rotate-left">Nach links drehen</button>
        <button id="rotate-right">Nach rechts drehen</button>
    </div>

    <script>
        window.jQuery = window.$ = require('jquery');
    </script>
    <script src="jquery-ui/jquery-ui.min.js"></script>
    <script src="app.js"></script>
</body>

</html>